/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 800px;
    /* margin: 10px auto; */
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Form Row Styling */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    font-size: 1.5rem;
    font-weight: bold;
}

.year-month.np {
    text-align: left;
    
}

.year-month.en {
    text-align: right;
}

.select-boxes {
    text-align: center;
}

select {
    width: auto;
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    color: #2c3e50;
    margin: 0;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

select:focus {
    border-color: #3498db;
}

/* Calendar Table */
table {
    width: 800px;
    border-collapse: collapse;
    text-align:center;
    margin-top: 5px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #686666;
}

th, td {
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background: rgb(113, 125, 136);
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
}

td {
    background: #f9f9f9;
    color: #2c3e50;
    position: relative;

}

td:hover{
    background: #999999;
    transition: 0.2s ease-in-out;
}

.nep-day {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.eng-day{
    font-size: 16;
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.tithi{
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

.festiv {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.festiv:hover::after {
    content: attr(data-fulltext);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 999;
}

.today {
    background-color: #c8c8c8; /* Highlight today's date */
}

.text-left {
    text-align: left;
}
.bold-text {
    font-weight: bold;
}
